{
  "extends": ["airbnb-base", "eslint:recommended", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "commonjs": true,
    "node": true,
    "browser": true,
    "webextensions": true
  },
  "rules": {
    "import/no-unresolved":["error",{
      "ignore": ["secrets"]
    }],
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": 0,
    "class-methods-use-this": 0,
    "no-var": "error",
    "semi":["error", "never"],
    "curly": "error",
    "eol-last": "error",
    "implicit-arrow-linebreak":  0,
    "id-length": [
      "error",
      {
        "exceptions": [
          "$",
          "i"
        ]
      }
    ],
    "no-nested-ternary": "error",
    "require-await": "error"
  },
  "plugins": [
    "svelte3",
    "prettier"
  ],
  "overrides": [
    {
      "files": [
        "**/*.svelte"
      ],
      "processor": "svelte3/svelte3"
    },
  ]
}